<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AccountKitClientToken</key>
	<string>cae6e3f40efb030879df587591602102</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.0.8</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb502088203247090</string>
				<string>fb650021965074918</string>
				<string>fb533037640057671</string>
				<string>fb132916510190650</string>
				<string>fb279457375400314</string>
				<string>fb591189427560737</string>
				<string>fb1731011946972323</string>
				<string>monkey</string>
				<string>ak1731011946972323</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>43</string>
	<key>Configuration</key>
	<string>$(CONFIGURATION)</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>2f375793da31dc2dacb662808d3113bce1be7ff1</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict>
					<key>branch_key</key>
					<string>key_live_lnxa2c3bgF25pREUp7wLWcijtuiG3i2W</string>
				</dict>
				<key>KitName</key>
				<string>Branch</string>
			</dict>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>FacebookAppID</key>
	<string>1731011946972323</string>
	<key>FacebookDisplayName</key>
	<string>Monkey</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>youtube</string>
		<string>fb</string>
		<string>twitter</string>
		<string>instagram</string>
		<string>snapchat</string>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
			<key>monkey.cool</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Monkey uses your camera to start video calls with new people, send clips to new friends, and more.</string>
	<key>NSContactsUsageDescription</key>
	<string>Monkey uses your contacts to help you find other monkeys.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Monkey uses your location to pair you with people around you, and more.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Monkey uses your microphone to start video calls with new people, and more.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Monkey uses your photo library to save images you take in the app.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>branch_app_domains</key>
	<array>
		<string>www.monkey.cool</string>
		<string>monkey.app.link</string>
		<string>i.monkey.cool</string>
		<string>monkey.cool</string>
	</array>
	<key>branch_key</key>
	<dict>
		<key>live</key>
		<string>key_live_lnxa2c3bgF25pREUp7wLWcijtuiG3i2W</string>
	</dict>
	<key>branch_universal_link_domains</key>
	<array>
		<string>www.monkey.cool</string>
		<string>monkey.app.link</string>
		<string>i.monkey.cool</string>
		<string>monkey.cool</string>
	</array>
</dict>
</plist>
