<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>compileBitcode</key>
  <false/>
  <key>method</key>
  <string>development</string>
  <key>teamID</key>
  <string>9RZJW8NK36</string>
  <key>uploadBitcode</key>
  <false/>
  <key>uploadSymbols</key>
  <false/>
  <key>signingCertificate</key>
  <string>iPhone Developer: Eric Tao (QG3W3ZTY42)</string>
  <key>signingStyle</key>
  <string>manual</string>
  <key>provisioningProfiles</key>
	<dict>
		<key>cool.monkey.ios</key>
		<string>8c4ba91f-f009-4618-9dd5-6ca0342e1b42</string>
		<key>cool.monkey.ios.PushService</key>
		<string>4c5812c2-e637-4b47-8241-6130ceba7fb1</string>
	</dict>
</dict>
</plist>
